<!-- vars over here: 4=> items: Item[], current: number<currentPageNo>, pages: number<total page>, type: string<pageQueryParamPrefix> -->

<% if (items.length > 0) { %>
<nav aria-label="Dashboard Pagination">
    <ul class="pagination justify-content-center mt-5">
        <% if (current == 1) { %>
        <li class="page-item disabled">
            <a href="#" class="page-link">First</a>
        </li>
        <% } else { %>
        <li class="page-item">
            <a href="/?<%= type %>Page=1" class="page-link">First</a>
        </li>
        <% } %> <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %> <%
        if(i !== 1) { %>
        <li class="page-item disabled">
            <a href="#" class="page-link">...</a>
        </li>
        <% } %> <% for(; i <= (Number(current) + 4) && i <= pages; i++ ) { %> <%
        if (i == current) { %>
        <li class="page-item disabled">
            <a href="#" class="page-link"><%= i %></a>
        </li>
        <% } else { %>
        <li class="page-item">
            <a href="/?<%= type %>Page=<%= i %>" class="page-link"><%= i %></a>
        </li>
        <% } %> <% if (i == Number(current) + 4 && i < pages) { %>
        <li class="page-item disabled">
            <a href="#" class="page-link">...</a>
        </li>
        <% } %> <% } %> <% if (current == pages) { %>
        <li class="page-item disabled">
            <a href="#" class="page-link">Last</a>
        </li>
        <% } else { %>
        <li class="page-item">
            <a href="/?<%= type %>Page=<%= pages %>" class="page-link">Last</a>
        </li>
        <% } %>
    </ul>
</nav>
<% } %>
