<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%= locals.title %></title>
        <meta name="description" content="<%= locals.description %>" />

        <link rel="stylesheet" href="/css/main.css" />
        <link rel="stylesheet" href="/css/home.css" />
        <link rel="stylesheet" href="/scss/main.css" />

        <script src="/js/bootstrap.bundle.min.js"></script>
    </head>
    <body class="outfit">
        <%- include('../partials/header.ejs') %>

        <main class="justify-content-center min-vh-80"><%- body %></main>

        <%- include('../partials/footer.ejs') %>
    </body>
</html>
