<section id="found-items" name="found-items">
    <div class="border-bottom mt-3 mb-5">
        <h1 class="h1 text-center">Item Detail</h1>
    </div>
    <div class="row justify-content-start gap-5">
        <div class="col card p-5">
            <h2 class="h2 pb-2 mb-4">Item Information</h2>
            <p><strong>Name:</strong> <%= lostItemFound.name %></p>
            <p>
                <strong>Description:</strong> <%= lostItemFound.description %>
            </p>
            <p>
                <strong>Lost Date:</strong> <%=
                lostItemFound.lostDate.toDateString() %>
            </p>
            <p>
                <strong>Lost Location:</strong> <%= lostItemFound.lostLocation
                %>
            </p>
            <p><strong>Category:</strong> <%= lostItemFound.category %></p>
        </div>
        <div class="col card p-5 mb-5">
            <h2 class="h2 pb-2 mb-4">Reporter Information</h2>
            <p>
                <strong>Username:</strong> <%= lostItemFound.createdBy.username
                %>
            </p>
            <p><strong>Email:</strong> <%= lostItemFound.createdBy.email %></p>
            <p><strong>Role:</strong> <%= lostItemFound.createdBy.role %></p>
            <!-- Add more Reporter details here as needed -->
        </div>

        <div class="card p-5 mb-5">
            <h2 class="h2 pb-2 mb-4">Images</h2>
            <% lostItemFound.images && lostItemFound.images.forEach((image)=> {
            %>
            <img src="/<%= image %>" alt="Item Image" class="col-5" />
            <% }); %>
        </div>
    </div>
</section>
