<div class="mx-5">
    <div class="text-center my-3 border-bottom">
        <h1 class="h1">Admin Panel</h1>
    </div>

    <div class="row gap-5">
        <div class="col-8">
            <div class="row gap-4">
                <div class="my-1 gap-3">
                    <h2 class="h2 border-bottom">Statistics</h2>
                </div>
                <a class="nav-link col" aria-current="page" href="/item/lost">
                    <div class="card bg-danger-subtle hover-scale">
                        <div class="card-body text-center text-danger py-5">
                            <h3 class="card-title h3">Lost Items</h3>
                            <h1 class="h1"><%= lostItemsCount ?? 0 %></h1>
                        </div>
                    </div>
                </a>
                <a class="nav-link col" aria-current="page" href="/item/found">
                    <div class="card bg-success-subtle hover-scale">
                        <div class="card-body text-center text-success py-5">
                            <h3 class="card-title h3">Found Items</h3>
                            <h1 class="h1"><%= foundItemsCount ?? 0 %></h1>
                        </div>
                    </div>
                </a>

                <div class="card bg-primary-subtle col hover-scale">
                    <div class="card-body text-center text-primary py-5">
                        <h3 class="card-title h3">Matched Items</h3>
                    </div>
                </div>
            </div>

            <div class="row mt-5 gap-4">
                <div class="my-1 gap-3">
                    <h2 class="h2 border-bottom">Actions</h2>
                </div>
                <div class="row gap-3">
                    <h3 class="h3">Items</h3>
                    <a href="/item/match" class="btn btn-lg btn-primary col">
                        Match lost and found items
                    </a>
                    <a href="/item/search" class="btn btn-lg btn-primary col">
                        Search Items
                    </a>
                </div>
                <div class="row gap-3">
                    <h3 class="h3">Users</h3>
                    <a href="/user/add" class="btn btn-lg btn-success col">
                        Add user
                    </a>
                    <a href="/user/search" class="btn btn-lg btn-primary col">
                        Search Users
                    </a>
                </div>
            </div>
        </div>

        <div class="col-3 mt-1">
            <div class="my-1">
                <h2 class="h2">Users (<%= usersCount ?? 0 %>)</h2>
            </div>
            <div class="mt-4">
                <div class="card px-4 pt-4 pb-2">
                    <div class="mb-5">
                        <% users.forEach(element => { %>
                        <a
                            href="/user/<%= element._id %>"
                            class="nav-link my-2"
                        >
                            <div class="row justify-content-start gap-3">
                                <div class="col-1">
                                    <img
                                        src="<%= element.avatar ?? `/public/svgs/pfp.svg` %>"
                                        alt="pfp"
                                        style="height: 30px; width: 30px"
                                    />
                                </div>
                                <div class="col-9 my-auto">
                                    <%= element.username %>
                                </div>
                            </div>
                        </a>
                        <% }) %>
                    </div>
                    <% if (users.length > 0) { %>
                    <nav aria-label="Dashboard Pagination">
                        <ul class="pagination justify-content-center">
                            <% if (current == 1) { %>
                            <li class="page-item disabled">
                                <a href="#" class="page-link">First</a>
                            </li>
                            <% } else { %>
                            <li class="page-item">
                                <a href="/?foundPage=1" class="page-link"
                                    >First</a
                                >
                            </li>
                            <% } %> <% var i = (Number(current) > 5 ?
                            Number(current) - 4 : 1) %> <% if(i !== 1) { %>
                            <li class="page-item disabled">
                                <a href="#" class="page-link">...</a>
                            </li>
                            <% } %> <% for(; i <= (Number(current) + 4) && i <=
                            pages; i++ ) { %> <% if (i == current) { %>
                            <li class="page-item disabled">
                                <a href="#" class="page-link"><%= i %></a>
                            </li>
                            <% } else { %>
                            <li class="page-item">
                                <a href="/?foundPage=<%= i %>" class="page-link"
                                    ><%= i %></a
                                >
                            </li>
                            <% } %> <% if (i == Number(current) + 4 && i <
                            pages) { %>
                            <li class="page-item disabled">
                                <a href="#" class="page-link">...</a>
                            </li>
                            <% } %> <% } %> <% if (current == pages) { %>
                            <li class="page-item disabled">
                                <a href="#" class="page-link">Last</a>
                            </li>
                            <% } else { %>
                            <li class="page-item">
                                <a
                                    href="/?foundPage=<%= pages %>"
                                    class="page-link"
                                    >Last</a
                                >
                            </li>
                            <% } %>
                        </ul>
                    </nav>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</div>
