<div class="mx-5">
    <div class="text-center my-3 border-bottom">
        <h1 class="h1">Admin Panel</h1>
    </div>

    <div class="row gap-5">
        <div class="col-8">
            <div class="row gap-4">
                <div class="my-1 gap-3">
                    <h2 class="h2 border-bottom">Statistics</h2>
                </div>
                <a
                    class="nav-link col"
                    aria-current="page"
                    href="/item/lost/list"
                >
                    <div class="card bg-danger-subtle hover-scale">
                        <div class="card-body text-center text-danger py-5">
                            <h3 class="card-title h3">Lost Items</h3>
                            <h1 class="h1"><%= lostItemsCount ?? 0 %></h1>
                        </div>
                    </div>
                </a>
                <a
                    class="nav-link col"
                    aria-current="page"
                    href="/item/found/list"
                >
                    <div class="card bg-success-subtle hover-scale">
                        <div class="card-body text-center text-success py-5">
                            <h3 class="card-title h3">Found Items</h3>
                            <h1 class="h1"><%= foundItemsCount ?? 0 %></h1>
                        </div>
                    </div>
                </a>

                <a
                    class="nav-link col"
                    aria-current="page"
                    href="/item/match/list"
                >
                    <div class="card bg-primary-subtle col hover-scale">
                        <div class="card-body text-center text-primary py-5">
                            <h3 class="card-title h3">Matched Items</h3>
                            <h1 class="h1"><%= matchedItemsCount ?? 0 %></h1>
                        </div>
                    </div>
                </a>
            </div>

            <div class="row mt-5 gap-4">
                <div class="my-1 gap-3">
                    <h2 class="h2 border-bottom">Actions</h2>
                </div>
                <div class="row gap-3">
                    <h3 class="h3">Items</h3>
                    <a
                        href="/item/match/add"
                        class="btn btn-lg btn-primary col"
                    >
                        Match lost and found items
                    </a>
                    <a href="/item/search" class="btn btn-lg btn-primary col">
                        Search Items
                    </a>
                </div>
                <div class="row gap-3">
                    <h3 class="h3">Users</h3>
                    <a href="/user/add" class="btn btn-lg btn-success col">
                        Add user
                    </a>
                    <a href="/user/search" class="btn btn-lg btn-primary col">
                        Search Users
                    </a>
                </div>
            </div>
        </div>

        <div class="col-3 mt-1">
            <div class="my-1">
                <h2 class="h2">Users (<%= usersCount ?? 0 %>)</h2>
            </div>
            <div class="mt-4">
                <div class="card px-4 pt-4 pb-2">
                    <div class="mb-5">
                        <% users.forEach(element => { %> <%-
                        include('./partials/users/userList', { element: element
                        }) %> <% }) %>
                    </div>
                    <%- include('./partials/pagination', { current: current,
                    pages: pages, items: users, type: "user" }) %>
                </div>
            </div>
        </div>
    </div>
</div>
