<div class="container-sm">
    <%- include('partials/flashMessage.ejs') %>

    <section id="lost-items" name="lost-items" class="min-vh-80">
        <div
            class="d-flex justify-content-between flex-wrap flex-md nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
        >
            <h1 class="h2">Lost Items</h1>
        </div>

        <div class="row justify-content-start gap-3">
            <% lostItems.forEach(element => { %>
            <div class="col-md-3">
                <div class="card">
                    <img
                        class="card-img-top"
                        src="https://loremflickr.com/320/240"
                        alt="Title"
                        style="background-position: center"
                    />
                    <div class="card-body">
                        <h4 class="card-title"><%= element.description %></h4>
                        <p class="card-text"><%= element.lastLocation %></p>
                    </div>
                </div>
            </div>

            <% }) %>
        </div>

        <% if (lostItems.length > 0) { %>
        <nav aria-label="Dashboard Pagination">
            <ul class="pagination justify-content-center mt-5">
                <% if (lostCurrent == 1) { %>
                <li class="page-item disabled">
                    <a href="#" class="page-link">First</a>
                </li>
                <% } else { %>
                <li class="page-item">
                    <a href="/?lostPage=1" class="page-link">First</a>
                </li>
                <% } %> <% var i = (Number(lostCurrent) > 5 ?
                Number(lostCurrent) - 4 : 1) %> <% if(i !== 1) { %>
                <li class="page-item disabled">
                    <a href="#" class="page-link">...</a>
                </li>
                <% } %> <% for(; i <= (Number(lostCurrent) + 4) && i <=
                lostPages; i++ ) { %> <% if (i == lostCurrent) { %>
                <li class="page-item disabled">
                    <a href="#" class="page-link"><%= i %></a>
                </li>
                <% } else { %>
                <li class="page-item">
                    <a href="/?lostPage=<%= i %>" class="page-link"><%= i %></a>
                </li>
                <% } %> <% if (i == Number(lostCurrent) + 4 && i < lostPages) {
                %>
                <li class="page-item disabled">
                    <a href="#" class="page-link">...</a>
                </li>
                <% } %> <% } %> <% if (lostCurrent == lostPages) { %>
                <li class="page-item disabled">
                    <a href="#" class="page-link">Last</a>
                </li>
                <% } else { %>
                <li class="page-item">
                    <a href="/?lostPage=<%= lostPages %>" class="page-link"
                        >Last</a
                    >
                </li>
                <% } %>
            </ul>
        </nav>
        <% } %>
    </section>
</div>
